.action-main-div{
    display: flex;
    align-content: space-evenly;
    width: 750px;
}

.incre-decre-icon-div{
    display: inline-block;
    align-content: space-evenly;
    width: 80%;
    height: 40px;
}

.single-icon-div{
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.action-single-div{
    display: inline-block;
    width: 250px;
}

.action-name-single{
    padding-top: 5px;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .action-main-div{
        display: block;
        align-content: center;
        width: 300px;
    }

    .action-single-div{
        display: inline-table;
        width: 100px;
        border-top: 1px solid gray;
        padding-bottom: 20px;
        padding-top: 20px;
    }

}