.progress-bar-container{
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    display:block;
    background: transparent;
}