@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #0C1C94;
    --color-dark: #3A3335;
    --text-btn: #C2C2C2;
    --content-orange: #F89C77;
    --content-light-orange: #FCD5C5;
    --content-light-btn: #5C5C5C;
    --z-fixed: 100;
    --nav-width: 219px;
}


/* ====== SIDEBAR ========  */

.sidebar-coachpage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-coachpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-coachpage {
    font-weight: bold;
    margin-bottom: 2.5rem;

}

.sidebar-menu-coachpage {
    display: grid;
    row-gap: 2.5rem;
}

.nav-links-coachpage {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #FFFFFF;
}

.fa-cog{
    font-size: 1.25 rem; 
}

.fas{
    margin-right: .5rem;
    color: #FFFFFF;
}

.fas .fa-times-circle{
    margin-right: .5rem;
    color: #0C1C94;
}

.nav-name-coachpage {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}

.show-menu {
    left: 0;
}

.active{
    color: #2b2b2b
}

.nav-links-coachpage:hover {
    color: var(--main-color);
}

.nav-logo-name-coachpage,
.nav-name-coachpage {
    opacity: 0;
    transition: .3s;
}

.sidebar-coachpage:hover {
    width: var(--nav-width);
}

.sidebar-coachpage:hover .nav-logo-name-coachpage {
    opacity: 1;
}

.sidebar-coachpage:hover .nav-name-coachpage{
    opacity: 1; 
}

/*** ==end== */

.baseAdminPage{
    padding: 50px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}

.adminPagePairingForm{
    display: flex;
    flex-direction: row;
    width: 95vw;
    justify-content: space-between;
}

.coachSectionForm{
    width: 90%;
}

.leaderSectionForm{
    width: 90%;
}
.adminPageContainer{
    padding: 100px;
    background-color: #F3F6F7;

}

.leaderCoachContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.leaderColumn{
    width: 48%;
}

.leaderColumn form{
    width: 100%;
}

.coachColumn{
    width: 48%;
}

.coachColumn form{
    width: 100%;
}

.columnTitle{
    text-align: center;
}

#infoContainer{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    font-size: 12px;
}

#leaderContent{
    background-color: white;
}

.leaderCoachText{
    font-size: 16px;
}

.listOfCoachesSubHeading{
    font-size: 18px;
    font-weight: bolder;
    margin-top: 20px;
}

.coachList select{
    border-radius: 5px;
}

.submitAdminPage{
    border: 1px solid #0C1C94;
    background-color: lightblue;
    color: #0C1C94;
    width: 30%;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: none;
}

.submitAdminPage:active{
    border: 1px solid #0C1C94;
    background-color: #0C1C94;
    color: white;
}

.deleteBtnAdminPage{
    border: 1px solid rgb(152, 151, 151);
    background-color: rgb(238, 238, 238);
    color: rgb(152, 151, 151);
    width: 30%;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: none;
    margin-left: 70%;

}

.deleteBtnAdminPage:hover{
    border: 1px solid rgb(206, 0, 0);
    color:rgb(206, 0, 0);
    background-color: #ffd7d7;
}


.deleteBtnAdminPage:active{
    border: 1px solid rgb(206, 0, 0);
    background-color: rgb(206, 0, 0);
    color: white;
}


@media screen and (max-width: 768px) {

    .leaderCoachContainer{
        display: flex;
        flex-direction: column;
    }

    .leaderColumn{
        width: 100%;
    }

    .coachColumn{
        width: 100%;
    }

    .adminPageContainer{
        padding: 50px;
        padding-top: 150px;

    }

}

.logoutBtnContainer{
  border: 1px solid black;
  padding: 0;
  margin: 0;
  border-radius: 20px 20px;
  margin-top: 20px;
}

.adminpage-logout {
    font-size: 15px;
    white-space: nowrap;
    color: black;
    align-items: center;
    height: 80px;
    max-width: 800px;
}
