.reload-page-btn{
  display: none;
}

.update-recipient-users-div{
  display: none;
}

.formButton{
  width:250px;
  height: 50px;
  display:none;
}

.calendar {
  /* box-shadow: 0 0 10px #3D3D3D; */
  box-shadow: 10px 10px 150px 50px RGB(30, 30, 30);
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  border-radius: 15px;
  padding: 25px;
}
table {
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 50px;
  border-radius: 15px;
}
table thead{
  margin-top: 10px;
  position: sticky; 
  top: 0; 
  z-index: 5; 
}
table thead tr th {
  background: white;
  color: black;
  padding: 0.5em;
  overflow: hidden;
  text-align: center;
  border-bottom: 1px solid RGB(211, 214, 219);
  margin-bottom: 5px;
  /* position: sticky; 
  top: 30; 
  z-index: 5;  */
}
table thead tr th:first-child {
  border-radius: 15px 0 0 0;
}
/* table thead tr th:last-child {
  border-radius: 0 15px 0 0;
} */

.month-container{
  margin-top: 10px;
  margin-bottom: 5px;
  /* position: sticky; 
  top: 0; 
  z-index: 5;  */
}

.month-text{
  text-align: center;
  font-size: 75%;
  max-width: 200px;
  overflow-x: scroll;
  white-space: nowrap;
}

.left-nav-btn{
  background-color: transparent;
  border: none;
  color: black;
  width:40px;
  height:40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:50%;
  margin-right:5px;
}

.left-nav-btn:hover{
  background-color: RGB(211, 214, 219);
  transition:all 200ms ease-in-out;
}

.right-nav-btn {
  background-color: transparent;
  border: none;
  color: black;
  width:40px;
  height:40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:50%;
  margin-left: 5px;
}

.right-nav-btn:hover{
  background-color:RGB(211, 214, 219);
  transition:all 200ms ease-in-out;
}

table thead tr th .day {
  display: block;
  font-size: 1em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
  /* background: RGB(3, 49, 128); */
  color: red;
  background: white;
  text-align: center;
}
table thead tr th .short {
  display: block;
}
table thead tr th i {
  vertical-align: top;
  font-size: 2em;
}
table tbody tr:nth-child(n) td {
  border-bottom: 1px solid RGB(211, 214, 219);
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid RGB(211, 214, 219);
  position: relative;
  height: 65px;
  /* cursor: pointer; */
  text-align: middle;
}

table tbody tr td.hour {
  font-size: 1em;
  padding: 0;
  color: #333333;
  background: #fff;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
  vertical-align: text-top;
  text-align: right;
  border-left: transparent;
  border-bottom: 1px solid RGB(211, 214, 219);
}
table tbody tr td.hour span {
  vertical-align: top;
  padding-right: 3px;

}

.success-book-flash{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  z-index:4;

  box-shadow: 0 0 20px #3D3D3D;
  display: block;
  border-radius: 10px;
  background: RGB(61, 135, 255);
  width: 400px;
  margin: 0 auto;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.failure-book-flash{
  display: none;
  border-radius: 10px;
  background: red;
  width: 400px;
  margin: 0 auto;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* @media (max-width: 60em) {
  table thead tr th .short {
    display: block;
    text-align: center;
  }
  table tbody tr .td.hour {
    font-size: 1em;
  }
} */

@media screen and (max-width: 768px) {
  /* .calendar {
    margin-left: 15px;
    margin-right: 15px;
  } */

  table thead tr th {
    font-size: 75%;
  }
  table thead tr th .day {
    width: 25px; 
    height: 25px; 
    display: block;
    font-size: 1em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  table thead tr th .day.active {
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-position: center;  
    /* background: RGB(3, 49, 128); */
    background: white;
    color: red;
    vertical-align: middle;
    text-align: center;
  }
  table tbody tr td.hour {
    font-size: 0.7em;
  }

  .left-nav-btn{
    width: 25px;
    height: 25px;
  }

  .right-nav-btn{
    width: 25px;
    height: 25px;
  }

  .left-arrow{
    width: 20;
    height: 20;
  }

  .right-arrow{
    width: 20;
    height: 20;
  }

}

/*popup start*/

.popup .overlay {
  position:fixed;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:300px;
  height:350px;
  z-index:2;
  text-align:center;
  padding:20px;
  box-sizing:border-box;
  border-radius: 15px;
  font-family:"Open Sans",sans-serif;
  box-shadow: 0 0 30px #3D3D3D;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  line-height:30px;
  text-align:center;
  border-radius:50%;
  box-shadow: 0 0 5px #3D3D3D;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 200ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

/* might need to rename to disabled */
.timeslot-button {
  position:absolute;
  width:100%;
  height:100%;          
  transform:translate(-50%,-50%);
  z-index:1;
  border: none;
  cursor: default !important; 
}

/* .timeslot-button:hover{
  background-color: lightslategrey;
} */

/* coach standard timeslot button */
.ch-timeslot-button {
  position:absolute;
  width:100%;
  height:100%;          
  transform:translate(-50%,-50%);
  z-index:1;
  border: none;
  cursor: pointer !important; 
}

/* Leader available slot */
.available-slot{
  background: white !important;
  border: none 0px white !important;
  vertical-align: middle;
  cursor: pointer !important;
}

/* Leader booked slot */
.booked-slot{
  background: RGB(61, 135, 255);
  height: 80%;
  width:95%;
  border-radius: 5%;
  vertical-align:middle;
  cursor: pointer !important;
}

.restricted-slot{
  /* background: RGB(58, 58, 58); */
  cursor: auto !important;
}

/* .booked-slot:hover{
  transition: transform 2ms;
  border: 2px solid RGB(61, 135, 255);
  background: white !important;
  } */

/* Coach available slot */
/* .coach-available-slot{
  background: lightpink;
  height: 80%;
  width:95%;
  border-radius: 5%;
  vertical-align:middle;
} */

/* Coach booked slot */
/* .coach-booked-slot{
  background: red;
  height: 80%;
  width:95%;
  border-radius: 5%;
  vertical-align:middle;
} */

.confirm-booking-btn{
  background-color: white; 
  color: #008CBA; 
  border: 2px solid #008CBA;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius:5%;
}

.confirm-booking-btn:hover{
  background-color: #008CBA;
  color: white;
}