@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --primary:white;

}

.btn {
    padding: 8px 20px;
    border-radius: 19px;
    outline: none;
    border: none;
    cursor: pointer;
    line-height: 2.3;
}

.btn--primary {
    background-color: transparent;
    color: white;
    border: 1px solid var(--primary);   
    font-family: 'Montserrat', sans-serif;
}

.btn--outline {
    /* background-color: white; */
    background-color: transparent;
    color: white;
    /* padding: 8px 20px;    */
    padding: 1rem 1rem; 
    /* border: 1px solid var(--primary);    */
    border: none; 
    transition: all 0.3 ease-out;
    font-family: 'Montserrat', sans-serif;
}
.btn--large {
    padding: 1px 52px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px; 
}

.btn--medium {
    padding: 8px 20px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

.btn--medium:hover , .btn--large:hover {
    background: white;
    color: black;
    transition:  all 0.3 ease-out;
    font-family: 'Montserrat', sans-serif;
}