@import url('https://fonts.googleapis.com/css?family=Montserrat');

.cards {
    padding: 4rem;
    background: rgba(254, 254, 254);
}

.btn {
  /* padding: 8px 20px; */
  /* border-radius: 2px; */
  outline: none;
  border: none;
  cursor: pointer;
  line-height: 2.6;

}

.btn--primary {
  background-color: transparent;
  color: white;
  /* border: 1px solid var(--primary);    */
  font-family: 'Montserrat', sans-serif;
}

.btn--outline {
  /* background-color: white; */
  /* color: rgb(55, 55, 55); */
  /* padding: 8px 20px;   
  border: 1px solid var(--primary);    */
  background-color: transparent;
  color: #52c6d1;
  padding: rem 1rem; 
  transition: all 0.3 ease-out;
  font-family: 'Montserrat', sans-serif;
  box-shadow: none;

}
.btn--large {
  /* padding: 13px 26px; */
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: none;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.btn--medium:hover , .btn--large:hover {
  background: white;
  color: black;
  transition:  all 0.3 ease-out;
  font-family: 'Montserrat', sans-serif;
}
h1{
  color: rgb(55, 55, 55);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.cards_container {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
}

.cards_wrapper {
    position: relative;
    margin: 50px 0 45px;
}

.cards_items{
    margin-bottom:  24px;
}

.cards__item {
    display: flex;
    flex: 1;
    margin: 0 1rem;
    border-radius: 10px;
  }
  
  
  
  .p {
    color: rgb(55, 55, 55);
    font-size: 25px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }