@import url('https://fonts.googleapis.com/css?family=Montserrat');

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  .hero-outer{
    margin: 0; 
    padding: 0; 
  }

  .hero-img{
    margin: 0; 
    padding: 0;
  }
  
  .hero-container {
    background: url('../../images/emerge-blue-landing.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 15%; 
    height: 100vh;
    width: 100vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
    margin: 0 auto; 
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -99px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  
  .hero-btns {
    margin-top: 31px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }

    .hero-img{
      width: 100vw; 
      height: 100vh; 
    }

    .hero-container{
      height: 100%; 
      width: auto;
      object-fit: fill;
      background-size: auto;
      /* margin-left: -100%; */
      background-repeat: no-repeat;

    }

  } 