
.sidebar-coachpage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-coachpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-coachpage {
    font-weight: bold;
    margin-bottom: 2.5rem;

}

.sidebar-menu-coachpage {
    display: grid;
    row-gap: 2.5rem;
}

.nav-links-coachpage {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #FFFFFF;
}

.fa-cog{
    font-size: 1.25 rem; 
}

.fas{
    margin-right: .5rem;
    color: #FFFFFF;
}

.fas .fa-times-circle{
    margin-right: .5rem;
    color: #0C1C94;
}

.nav-name-coachpage {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}

.show-menu {
    left: 0;
}

.active{
    color: #2b2b2b
}

.nav-links-coachpage:hover {
    color: var(--main-color);
}

.nav-logo-name-coachpage,
.nav-name-coachpage {
    opacity: 0;
    transition: .3s;
}

.sidebar-coachpage:hover {
    width: var(--nav-width);
}

.sidebar-coachpage:hover .nav-logo-name-coachpage {
    opacity: 1;
}

.sidebar-coachpage:hover .nav-name-coachpage{
    opacity: 1; 
}

.nav-links-homepage{
    pointer-events: auto; 
}

.nav-lock-div{
    float: right;
    transition: .4s;
    margin-left: 0.5rem;
} 
