@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.eoiCoachContainer{
    padding: 100px;
    padding-top: 30px; 
    background-color: #f9f9f9;
    height: auto; 
    
}

.eoiCoachDesc{
    text-align: center;
    margin-bottom: 40px;
}

.eoiCoachTitle{
    text-align: center;
    color:#253CD8;
    font-size: 60px; 
    font-weight: bolder;
    margin-bottom: 35px;
    margin-top: 0px; 
}

.eoiInfo{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto; 
    margin-bottom: 30px;
    margin-left: 47px; 
    width: 100%; 
}


.eoiDetail{
    color: #253CD8;
    font-weight: bolder;
}



.deleteBtnEoiAdminPage{
    border: 1px solid rgb(152, 151, 151);
    background-color: rgb(238, 238, 238);
    color: rgb(152, 151, 151);
    width: 15%;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: none;
    margin-left: 85%;
    padding: 2px; 

}

.deleteBtnEoiAdminPage:hover{
    border: 1px solid rgb(206, 0, 0);
    color:rgb(206, 0, 0);
    background-color: #ffd7d7;
}


.deleteBtnEoiAdminPage:active{
    border: 1px solid rgb(206, 0, 0);
    background-color: rgb(206, 0, 0);
    color: white;
}
