@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #0C1C94;
    --color-dark: #3A3335;
    --text-btn: #C2C2C2;
    --content-orange: #F89C77;
    --content-light-orange: #FCD5C5;
    --content-light-btn: #5C5C5C;
    --z-fixed: 100;
    --nav-width: 219px;
}

/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
*/
/* ====== HEADER CSS =======  */
.logo-lettering{
    margin: 0 auto;
}

.header-toggle-container  {
    font-size: 2.25rem;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    margin-right: 20px;
    color: white;
}

.top-header {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    color: #0C1C94;
}

/* ====== SIDEBAR ========  */

.sidebar-coachpage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-coachpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-coachpage {
    font-weight: bold;
    margin-bottom: 2.5rem;

}

.sidebar-menu-coachpage {
    display: grid;
    row-gap: 2.5rem;
}

.nav-links-coachpage {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #FFFFFF;
}

.fa-cog{
    font-size: 1.25 rem; 
}

.fas{
    margin-right: .5rem;
    color: #FFFFFF;
}

.fas .fa-times-circle{
    margin-right: .5rem;
    color: #0C1C94;
}

.nav-name-coachpage {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}

.show-menu {
    left: 0;
}

.active{
    color: #2b2b2b
}

.nav-links-coachpage:hover {
    color: var(--main-color);
}

.nav-logo-name-coachpage,
.nav-name-coachpage {
    opacity: 0;
    transition: .3s;
}

.sidebar-coachpage:hover {
    width: var(--nav-width);
}

.sidebar-coachpage:hover .nav-logo-name-coachpage {
    opacity: 1;
}

.sidebar-coachpage:hover .nav-name-coachpage{
    opacity: 1; 
}


/*========== MAIN CONTENT ========= */


.main-content {
    margin-left:50px;
}

.main-content .user-wrapper{
    top: 0;
    justify-content: space-evenly;
    background-color: btn; /* For browsers that do not support gradients, will load this */
    background-image: linear-gradient(#5C5C5C, #292929);
}

.user-space .text-wrapper{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-style: solid;
    border-color: white;
    background-color: #EBEBEB; 
    
}

.text-wrapper .name-desc{
    font-family: 'Montserrat', sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px black;
}

.user-wrapper {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.image-wrapper {
    border-radius: 50%;
    border-style:solid;
    border-color: white;
    border-width: .2rem;
    height: 220px;
    width: 220px;
    background: url('../../images/img-10.jpg');
    background-repeat: no-repeat;
    background-position: center;
}


.user-wrapper small {
    display: inline-block;
    color: var(--text-btn);
}

.personal-content-wrapper {
    background-color: black;
    border-style: solid;
    border-color: white;
}

.font-detail {
    font-style: italic;
    color: var(--main-color);
    text-align: left;
}

.row {
    column-gap: 2px;
}

.column-left {
    float:left;
    width: 70%;
    padding-bottom: 5rem;
    padding-top: .1rem;
}
.column-right {
    float:left;
    width: 30%;
    padding: 0; 
    /* padding-left: 1rem;
    padding-bottom: 5rem;
    padding-top: .1rem;
 */
}

.column-sub1 {
    background-color: #F89C77;
}
.column-sub2 {
    background-color: #FCD5C5;
}

.column-sub3 {
    background-color: #CCCCCC;
}

.column-sub4 {
    background-color: #DBDBDB;
}

.row-modi {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* left off here */
.row-modi-schedule{
    padding: 0; 
}



.coach-happy-btns {
    text-align: center;
  }

.happy-with-coach-btn {
    background-color: white;
    border: none;
    color: #0C1C94;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: 0.3s;
}

.happy-with-coach-btn:hover {
    opacity: 0.5;
}

.evidence-based-text {
    color:white;
}

.icon-wrapper {
    text-align: center;
    color: #fff;
}

.smaller-header{
    font-size: 1rem;
    font-style: italic;
    color: #0C1C94;
}


/* schedule section */



.scheduleHeader{
    display: flex; 
    flex-direction: row;
    margin: 0; 
    background-color:#5C5C5C;
    justify-content: center;
    padding: 20px; 
}

.fa-calendar-alt{
    font-size: 1.2rem;
    margin-left: 10px; 
}

.calendarWrapper{
    padding: 0px; 
}

.form-container{
    background-color: white;
    padding: 20px; 
}


  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border-bottom: 2px solid green;

  }

  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  .scheduleName{
      text-align: left;
  }

  .scheduleDate{
      background-color: #f1f1f1;
      border-bottom: 2px solid green;
      margin-bottom: 12px; 
      width: 95%; 
  }

  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .scheduleSubmit{
      margin-top: 15px; 
  }


/* end here */

/* LEADER LIST CSS STARTS HERE */
.leader-container{
    width: 100vw; 
    background-color: rgb(244, 244, 244);
    padding: 100px; 
    padding-top: 50px; 
    
}

.leader-template{
    background-color: rgb(255, 255, 255);
    width: 100%; 
    height: 100%; 
    padding: 50px;
    display: flex;
    flex-direction: row;  
    margin-left: 50px;
    border-radius: 25px;  
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
   
}

.leader-list{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 20px; 
    padding: 0px;  
    
}

.leader{
    margin: 0; 
    padding: 20px;
    padding-right: 80px; 
    border-radius: 5px;
    margin-bottom: 10px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.leaderHeading{
    background-color: #0C1C94;
}

.leaderHeading h2{
    font-weight: bolder;
    color: white;
}

.leaderNameContainer{
    border-radius: 5px;
    height: 100%;
    padding: 10px; 
    margin-top: 5px; 
    overflow: auto;
    scrollbar-width: none;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.leader h3{
    font-weight: bolder;
}

.leaderContent:hover{
    box-shadow: rgba(102, 157, 65, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.leader h3:hover{
    color: #0C1C94;
}

.image-wrapper-2 {
    background-image: url('../../images/img-13.jpg');
    background-size: cover;
    visibility: visible;
    height: 100%;
    display: block;
}

.leader-info-container{
    background-color: white;
    border-radius: 5px;
    width: 70%; 
    height: 100%; 
    margin: 0; 
    margin-left: 20px ;
    box-shadow: rgba(102, 157, 65, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 0px; 
}

.leader-info-list{
    width: 100%;
    height: 100%;
    margin-left: 20px; 
    margin-right: 20px;
    padding: 20px;  
    visibility: hidden;
    overflow-y: scroll;
}

.leader-info {
    width: 90%;
    /* width: 100%;  */
    /* height: 30%; */
    padding: 10px; 
    /* background-color: lightcoral; */
    border-radius: 5px;
    /* margin-left: 20px; */
    /* margin: 0 auto;  */
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bolder;
    position: relative;
    
}



#coacheeInfoHeading{
    font-weight: bolder;
    color:#0C1C94; 
}


.bookingInfo{
   position: relative;
   color: #2b2b2b;
   font-size: 18px;
   margin: 0px; 
}

.coachee-info-element {
    width: 100%; 
    margin: 0; 
}

.coachee-info-element span {
    background-color: white;
    color: #292929;
    text-align: left;
    line-height: 40px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
    width:100%;  
    transition: background-color 150ms ease-in;
    font-weight: 100;
    border-radius: 5px;
    padding: 10px; 
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding-left: 15px;
    font-size: 16px; 

}

/*.coachee-zoom-block {
    display: none;
}*/

.coachee-info-element input[type="radio"] {
    display: none;
}

.coachee-info-element input[type="radio"]:checked~span {
    background-color: #0C1C94;
    color: white;
}

.leaderNameBooking input[type="text"]{
    margin-bottom: 5px; 
    border: none; 
    background-color: #FAFAFA;
}

.bookingDetails{
    visibility: hidden;
    margin: 0; 
    font-size: 5px;
    height:8px;
}

.bookingConfirmationButton{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}


/* COACHEE GOALS SECTION */

.coacheeInfoGoals{
    background-color: white;
    border-radius: 5px;
    padding: 15px; 
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* padding-left: 15px; */
    font-size: 16px; 
    font-weight: 100;
    border-bottom: 1px solid #0C1C94;
}

.subGoalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.subGoalStyle{
    width: 85%;
    margin-right: 10px; 
}



.subGoalForm{
    background-color: #FAFAFA;
    width: 100%;  
    padding: 0; 
}


.subGoalFormStyle{
    width: 100%; 
    background-color: white;
    padding: 0; 
}

.form-container .leaderNameSubgoalContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
    
}

.leaderNameSubgoalContainer{
    visibility: hidden;
    box-shadow: none;
    margin: 0; 
    padding: 0; 
    width: 5px; 
    height: 5px;
}

.form-container .subGoalContentContainer input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 85%;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}

.form-container .subGoalContentContainer input[type="text"]:focus{
    background-color: white;

}

.removeSubGoalBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 5px;
    padding: 0; 
    width: 15%;
    height: 53px;  
    margin: 0; 
}

.form-container .newSubGoalForm input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 100%;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form-container .newSubGoalForm input[type="text"]:focus{
    background-color: white;
}

.form-container .actionScoreContainer .actionBox input[type="text"]{
    background-color: white;
    margin: 0;
    padding: 0; 
    border: none; 
}

.form-container .actionScoreContainer .actionBox input[type="text"]:focus{
    background-color: white;
}

.newSubGoalContainer{
    width: 100%; 
}

.newSubGoalBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 13px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; 
}

#removeActionBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 13px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; 
    margin-top: 15px; 
}

.subGoalContentContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.actionScoreContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.actionBox{
    border: none; 
    border-left: 5px solid #0C1C94;
    width: 85%; 
    margin-right: 10px;

}

.scoreBox{
    border: none;
    width: 15%; 
}

.actionBtnContainer{
    width: 100%; 
    display: flex;
    justify-content: flex-start;
}

.removeSubGoalBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    width: 15%; 
    /* padding: 10px 10px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: 23px;
    margin-bottom: 23px;  */
}

.actionBtnStyle{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 10px 10px;
    width: 50px; 
    height: 50px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 23px;
    margin-bottom: 23px; 
}

.addSubGoalBtn{
    width: 100%; 
}

.active, .btn-coachee {
    background-color: #04AA6D;;
    color: white;
}

btn-coachee {
    background-color: white;
    color: #04AA6D;
}

.solid-border{
    border-top: 3px solid rgb(210, 210, 210);
    width: 90%; 
}


.newScoreContentContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-bottom: 1rem;*/
}

.form-container .newScoreContentContainer input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 85%;
    margin-right: 10px;
    padding-left: 1rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form-container .newScoreContentContainer input[type="text"]:focus{
    background-color: white;
}

.dash {
    border-top: .5px solid black;
    margin-bottom: 20px;
    margin-top: 15px;
}


/* COACHEE PROGRESS */

#progressbar {
    background-color: #bbb;
    border-radius: 13px;
    padding: 5px;
    float: left;
    width: 40%
  }
  
  #progressbar>div {
    background-color: #0C1C94;
    width: 30%;
    height: 50px;
    border-radius: 10px;
  }

  .progress-text {
    width: 20%;  
    float: left;
    padding-left: 10px;
  }

  .w3-border{
      border: 1px solid rgb(255, 255, 255);
      width: 100%;
      height:25px; 
      background-color: white;
      padding: 0; 
      margin: 0;
      border-radius: 5px;
      margin-bottom: 20px;
      box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; 
  }

  .w3-grey{
      background-color: #0C1C94;
      height:24px; 
      width:20%;
      padding: 0; 
      margin: 0;  
      border-radius: 5px;

  }

  .transformationalGraph{
      width: 40%; 
  }

  .goalGraph{
      width: 35%; 
  }



/* HOMEWORK STYLES */

/* -homework form- */
.hwFormStyle{
    display: flex;
    flex-direction: column;
}

.hwFormStyle input[type="text"] {
    background-color: white;
    border: none; 
    /* border-bottom: 1px solid #0C1C94;  */
    border-radius: 5px; 
    padding: 15px; 
    width: 100%; 
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; 
    margin-bottom: 15px;
    font-size:16px; 

}

.hwLabelStyle{
    margin-bottom: 5px; 
}


.hwSubmitStyle{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 23px;
    width: 20%; 
}

/* -coachee existing homework- */
.toggleCoacheeHw{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    padding: 15px; 
    border: none;
    width: 100%; 
    font-size: 16px;
    border-left: 8px solid #0C1C94;
    width: 100%; 
    text-align: left;
    color: black;
}

.toggleCoacheeHw input[type="text"]{
    width: 350px; 
    padding: 3px; 
    border: none; 
    color: black;
}

.toggleCoacheeHw:hover{
    box-shadow: rgba(100, 100, 220, 0.625) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.coacheeHwContent{
    display: flex; 
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid rgb(203, 203, 203); 
    border-radius: 0px 0px 5px 5px ;
    padding: 15px; 
    border: none;
    width: 100%; 
    font-size: 16px;
    margin-top: 5px;
    transition: .4s;
    margin-bottom: 20px;

}

.coacheeHwContent input[type="text"]{
    padding: 3px; 
    border: none; 
    margin-top: 10px; 
}



/* ZOOM LINK */
/* -current zoom link- */
#coacheeZmLinkStyle{
    background-color: white;
    border-radius: 5px;
    padding: 15px; 
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* padding-left: 15px; */
    font-size: 16px; 
    font-weight: 100;
    border-bottom: 1px solid #0C1C94;
    color: #595d77;
    margin-bottom: 20px; 
}
/* -create a new zoom link- */
.zmLinkHeaderStyle{
    font-size: 16px;
    color:#0C1C94; 
    margin-bottom: 10px; 
    background-color: white;
    border: none; 

}

.newSubGoalContainer .addNewSubGoalHeader{
    font-size: 16px;
    color:#0C1C94; 
    margin: 0px; 
    background-color: white;
    border: none;
}

#zmLinkFormStyle{
    width: 100%; 
    display: flex; 
    flex-direction: column;
}

#zmLinkFormStyle input[type="text"]{
    background-color: white;
    border: none; 
    /* border-bottom: 1px solid #0C1C94;  */
    border-radius: 5px; 
    padding: 15px; 
    width: 100%; 
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; 
    margin-bottom: 15px;
    font-size:16px; 
    margin-top: 0px; 
}


.zmLinkSubmitStyle{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 23px;
}



  /* Coachee Info Styles */

  /* Placeholder styles for coachee-blocks */
  div[name="coachee-block-1"] {
    display:none;
  }

  div[name="coachee-block-2"] {
    display:none;
  }

  div[name="coachee-block-3"] {
    display:none;
  }

  div[name="coachee-block-4"] {
    display:none;
  }

  div[name="coachee-block-5"] {
    display:none;
  }

  div[name="coachee-block-6"] {
    display:none;
  }

  div[name="coachee-block-7"] {
    display:none;
  }

  div[name="coachee-block-8"] {
    display:none;
  }

  div[name="coachee-block-9"] {
    display:none;
  }

 div[name="coachee-block-10"] {
    display:none;
  }


/* Homework Styling */
.strike-through {
    color: black;
    text-decoration: line-through;
}

@media screen and (max-width: 768px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .column-left{
        width: 100%;
    }

    .column-right{
        width: 100%;
    }
}




/* MESSAGING CSS STARTS HERE */
body {
    background-color: #fff
}
  
.scroll-element{
    overflow:scroll;
  }
  
  
::-webkit-scrollbar {
    width: 10px
}
  
::-webkit-scrollbar-track {
    background: #eee
}
  
::-webkit-scrollbar-thumb {
    background: #888
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555
}
  
.wrapper {
    /* height: 100vh; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    bottom: 0;
    right:0;
}
  
.main {
    background-color: #eee;
    width: 320px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 0px 0px 0px;
}
  
.d-flex {
    display: flex!important;
    margin-top: 1rem;
}

.scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 325px;
}
.img1 {
    border-radius: 50%;
    background-color: #66BB6A
}

.name {
    font-size: 8px
}

.msg {
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #3e3c3c
}

.between {
    font-size: 8px;
    font-weight: 500;
    color: #a09e9e
}

.message-input {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.form-control {
    font-size: 12px;
    font-weight: 400;
    width: 230px;
    height: 30px;
    border: none
}

.form-control:focus {
    box-shadow: none;
    overflow: hidden;
    border: none
}

.form-control:focus {
    box-shadow: none !important
}

.icon1 {
    color: #7C4DFF !important;
    font-size: 18px !important;
    cursor: pointer
}

.icon2 {
    color: #512DA8 !important;
    font-size: 18px !important;
    position: relative;
    left: 8px;
    padding: 0px;
    cursor: pointer
}
  
.icondiv {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: relative;
    bottom: 1px
}

.message-icon-coacheespage{
    position: fixed;
    right: 0;
    color: #0C1C94 !important;
    cursor: pointer;
}

  /* MESSAGING CSS ENDS HERE */

  /* .message-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: white;
    cursor:pointer;
    background-color: #0C1C94;
    position: fixed;
    bottom: 0px;
    right:0px;
    padding: 15px; 
    border-radius: 5px;
} */

  /* MESSAGING CSS ENDS HERE */
  @media screen and (max-width: 768px) {
    .leader-container{
        padding: 0px; 
    }

    .leader-template{
        background-color: #fff;
        width: 100%;
        height: 100%;
        padding: 0px; 
        display: flex;
        border-radius: 0px;
        flex-direction: column;
        margin: 0; 
    }

    .leader-list{
        display: flex;
        flex-direction: column;
        width: 100%; 
        padding: 0;
        padding-left: 65px; 
        height: 30%; 
    }

    .leader{
        border-radius: 5px;
        margin: 0 0 10px;
        box-shadow: 0 2px 5px -1px rgb(50 50 93 / 25%), 0 1px 3px -1px rgb(0 0 0 / 30%);
    }

    .leaderHeading{
        border-radius: 0px;
    }

    .leader-info-container{
        background-color: white;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        padding: 0px; 
        margin: 0px;
        box-shadow: 0 2px 5px -1px rgb(102 157 65 / 25%), 0 1px 3px -1px rgb(0 0 0 / 30%);
        padding: 0;
    }

    .leader-info-list {
        width: 100%;
        height: 100%;
        margin: 0px; 
        padding: 5px;
        padding-left: 85px;
    }

    .leader-info{
        width: 98%;
        padding: 10px;
        margin: 0;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bolder;
        position: relative;
    }

    .solid-border {
        width: 97%;
    }

    .subGoalContentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .form-container .subGoalContentContainer input[type="text"]{   
        width: 100%;
    }

    .removeSubGoalBtn {
        background-color:#0C1C94;
        border: none;
        color: white;
        padding: 13px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 20px; 
        width: 40%; 
    }
    
    .hwSubmitStyle{
        width: 40%; 
    }


}
