.set-leader-action-active-container{
    display: none;
}

.coach-leader-actions-div{
    display: block;
    height: auto;
}

.leader-actions-main-container{
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    border-radius: 10px;
}

.leader-actions-single-container{
    width: 250px;
    height: auto;
    margin: 10px;
    display: none;
}

.leader-no-action-desc-div{
    text-align: center;
    display: none;
}

.leader-no-completed-action-desc-div{
    text-align: center;
    display: none;
}

.leader-actions-action-name{
    display: block;
    margin: 10px;
    text-align: center;
}

.leader-actions-iter{
    display: block;
    margin: 10px;
    text-align: center;
}

.leader-actions-progress-container{
    display: block;
    margin: 10px;
}

.leader-completed-actions-outer-div{
    display: block;
    width: 100%;
    height: auto;
}

.completed-actions-heading{
    font-weight: bolder;
    color:#0C1C94; 
    margin-bottom: 25px;
}

@media screen and (max-width: 1165px) {
    .leader-actions-main-container{
        display: inline-block;

    }

    .leader-actions-single-container{
        display: inline-block;
        margin-top: 20px;
        border-bottom: solid 1px gray;
        
    }

    .leader-completed-actions-outer-div{
        display: inline-block;
        margin-top: 200px;
        height: auto;
    }
}