@import url('https://fonts.googleapis.com/css?family=Montserrat');

.feedback-body-coachside{
    font-family: 'Montserrat', sans-serif;
    color: #3A3335;
    /* text-align: center; */
    display: inline-block;
    align-items: center;
    /* padding-top: 2rem; */
    /* padding-bottom: 2rem; */
    
}


.feedback-leader-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:blue;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0;
}

.feedback-time {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#3A3335;
    text-align: center;
    padding-bottom: 2rem;
}

.question-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color:blue;
    display: inline-block;

}


@media screen and (max-width: 768px) {

    .feedback-body-coachside{
        font-size: 16px;
    }
}