@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --radio-selected-colour: #001196;
    --radio-border-colour: #0C1C94;
    --radio-unselected-colour: #9BA6F7;
    --radio-text-colour: white;

}
.feedback-main-content {
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    right: 0;
    position: relative;
    background-color: #C2C2C2;
    background-image: linear-gradient(to bottom right, #F5F5F5, #E0E0E0);
}

/*=== Page No Access ===*/
.no-access-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-access-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ====== HEADER CSS =======  */
.logo-lettering{
    margin: 0 auto;
}

.header-toggle-container  {
    font-size: 2.25rem;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    margin-right: 20px;
    color: white;
}

.top-header {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    background-color: #0C1C94;
}

.feedback-border {
    border-radius: 25px;
    border: 2px solid white;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 100px;
    padding-bottom: 250px;
    background-color: #F3F6F7;
}

.feedback-text {
    font-family: 'Montserrat', sans-serif;
    /* color: #3A3335; */
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color:#001196; 
}

.Feedback-title {
    font-size: 20px;
    text-align: center;
    font-style: var(--radio-border-colour);
    font-family: 'Montserrat', sans-serif;
    color: #3A3335;
    padding-top: 5px;
    padding-bottom: 5px;
}
    
    
.Instruction-text {
    font-size: 12px;
    text-align: center;
    font-style: var(--radio-border-colour);
    font-family: 'Montserrat', sans-serif;
    color: #3A3335;
    padding-top: 2px;
    padding-bottom: 2px;
}

.form .feedback-container{
    justify-content: center;
    width: 100%;
}

.rating-container {
    text-align: center;
    padding-bottom: 2px;
}

.row{
    content: "";
    display: table;
    clear: both;
    width: 100%;
    text-align: center;
}

.column {
    text-align: center;
    width: 50%;
    float: left;
}


.Guideline-Container {
    justify-content: center;
}

.Guideline-text {
    font-size: 12px;
    font-style: var(--radio-border-colour);
    font-family: 'Montserrat', sans-serif;
    color: #3A3335;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
}


.dash {
    border-top: .5px solid #A1C6EA;
    margin-bottom: 20px;
    margin-top: 15px;
}

.small-dash {
    border-top: .5px solid #A1C6EA;
    width: 100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
}

.row {
    text-align: center;
}

.radio-body {
    margin: 20px;
    align-items: center;
    margin: auto;
    text-align: center;

}

.Feedback-Text-Container {
    align-items: center;
    text-align: center;

}

.radio {
    display: inline-flex;
    overflow: hidden;
    /* border-radius: 15px; */
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); */
    align-items: center;
    margin: auto; 

}

/*  radio-1   */

.radio__input-1 {
    display: none;
}

.radio__label-1 {
    display: inline-block;
    padding: 6px 15px;
    /* font-size: 14px; */
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    color:#3A3335; 
    font-weight: bolder;
    cursor: cursor;
    transition: background 0.1s;
    margin: 10px; 
    border: none; 
    border-radius: 50%;
}


.radio__label-1:hover {
    display: inline-block;
    padding: 6px 15px;
    /* font-size: 14px; */
    font-family: 'Montserrat', sans-serif;
    /* /* color: var(--radio-text-colour); */
    background-color: #c4c4c4; 
    color:#3A3335; 
    font-weight: bolder;
    cursor: cursor;
    transition: background 0.1s;
    margin: 10px; 
    border-radius: 50%;
}

.radio__input-1:checked + .radio__label-1  {
    color: var(--radio-text-colour); 
    background: var(--radio-selected-colour);
    border-radius: 50%;
}

.measureFeedback{
    margin-bottom: 0px; 
    margin-top: -1px;
    padding: 0;
    margin-left: 8px;
    margin-right: 7px;
}


/* .radio__label-1:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-1:checked + .radio__label-1 {
    background: var(--radio-selected-colour);
} */

/*   radio-2   */

.radio__input-2 {
    display: none;
}

.radio__label-2 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-2:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-2:checked + .radio__label-2 {
    background: var(--radio-selected-colour);
} */


/*   radio-3     */

.radio__input-3 {
    display: none;
}

.radio__label-3 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-3:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-3:checked + .radio__label-3 {
    background: var(--radio-selected-colour);
} */

/*   radio-4     */

.radio__input-4 {
    display: none;
}

.radio__label-4 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-4:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-4:checked + .radio__label-4 {
    background: var(--radio-selected-colour);
} */


/*   radio-5     */

.radio__input-5 {
    display: none;
}

.radio__label-5 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-5:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-5:checked + .radio__label-5 {
    background: var(--radio-selected-colour);
} */

/*   radio-6     */

.radio__input-6 {
    display: none;
}

.radio__label-6 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-6:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-6:checked + .radio__label-6 {
    background: var(--radio-selected-colour);
} */

/*   radio-7     */

.radio__input-7 {
    display: none;
}

.radio__label-7 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-7:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-7:checked + .radio__label-7 {
    background: var(--radio-selected-colour);
} */

/*   radio-8     */

.radio__input-8 {
    display: none;
}

.radio__label-8 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-8:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-8:checked + .radio__label-8 {
    background: var(--radio-selected-colour);
} */

/*   radio-9     */

.radio__input-9 {
    display: none;
}

.radio__label-9 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}

/* .radio__label-9:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-9:checked + .radio__label-9 {
    background: var(--radio-selected-colour);
} */

/*   radio-10     */

.radio__input-10 {
    display: none;
}

.radio__label-10 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}
/* 
.radio__label-10:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-10:checked + .radio__label-10 {
    background: var(--radio-selected-colour);
} */

/*   radio-11     */

.radio__input-11 {
    display: none;
}

.radio__label-11 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}
/* 
.radio__label-11:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-11:checked + .radio__label-11 {
    background: var(--radio-selected-colour);
} */

/*   radio-12     */

.radio__input-12 {
    display: none;
}

.radio__label-12 {
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    cursor: cursor;
    transition: background 0.1s;
}
/* 
.radio__label-12:not(:last-of-type) {
    border-right: 1px solid var(--radio-border-colour);
}

.radio__input-12:checked + .radio__label-12 {
    background: var(--radio-selected-colour);
} */


.radio__label-1, .radio__label-2, .radio__label-3, .radio__label-4, .radio__label-5,
.radio__label-6, .radio__label-7, .radio__label-8, .radio__label-9, .radio__label-10,
.radio__label-11, .radio__label-12  {
    display: inline-block;
    padding: 6px 15px;
    /* font-size: 14px; */
    font-family: 'Montserrat', sans-serif;
    /* color: var(--radio-text-colour);
    background: var(--radio-unselected-colour); */
    color:#3A3335; 
    font-weight: bolder;
    cursor: cursor;
    transition: background 0.1s;
    margin: 10px; 
    border: none; 
    border-radius: 50%;
}


.radio__label-1:hover, .radio__label-2:hover, .radio__label-3:hover, .radio__label-4:hover, .radio__label-5:hover,
.radio__label-6:hover, .radio__label-7:hover, .radio__label-8:hover, .radio__label-9:hover, .radio__label-10:hover,
.radio__label-11:hover, .radio__label-12:hover  {
    display: inline-block;
    padding: 6px 15px;
    /* font-size: 14px; */
    font-family: 'Montserrat', sans-serif;
    /* /* color: var(--radio-text-colour); */
    background-color: #c4c4c4; 
    color:#3A3335; 
    font-weight: bolder;
    cursor: cursor;
    transition: background 0.1s;
    margin: 10px; 
    border-radius: 50%;
}

.radio__input-1:checked + .radio__label-1, .radio__input-2:checked + .radio__label-2, .radio__input-3:checked + .radio__label-3,
.radio__input-4:checked + .radio__label-4, .radio__input-5:checked + .radio__label-5, .radio__input-6:checked + .radio__label-6,
.radio__input-7:checked + .radio__label-7, .radio__input-8:checked + .radio__label-8, .radio__input-9:checked + .radio__label-9,
.radio__input-10:checked + .radio__label-10, .radio__input-11:checked + .radio__label-11, .radio__input-12:checked + .radio__label-12   {
    color: var(--radio-text-colour); 
    background: var(--radio-selected-colour);
    border-radius: 50%;
}


.Feedback-Btn-Container {
    padding-top: 55px;
    align-items: center;
    margin: auto;
    text-align: center;
}

.Feedback-Submit-Btn {
    background-color: #F3F6F7; 
    color: var(--radio-unselected-colour); 
    border: 2px solid var(--radio-unselected-colour);
    padding: 16px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

  
.Feedback-Submit-Btn:hover {
    background-color: var(--radio-selected-colour);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {

    .feedback-border{
        width: 100%;
        margin-left: 2px;
        margin-right: 0px;
        padding: 20px 33px 33px 92px; 
    }

    .Instruction-text {
        font-size: 14px;
    }

    .radio-body{
        width: 50%; 
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .column {
        width: 30%;
        text-align: right;
        display: block;
        float: right; 
    }

    .radio, .radio-body {
        align-items: center;
        width: fit-content;
        margin: none; 
    }
}