/* -- Header CSS -- */

.top-header {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    background-color: #0C1C94;
}

.logo-lettering h1{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

.header-toggle-container  {
    font-size: 2.25rem;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    margin-right: 20px;
    color: rgb(40, 40, 40);
}

/* -- Navbar CSS -- */

.sidebar-homepage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-homepage {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.nav-links-homepage {
    display: flex;
    align-items: center;
    color: white; 
    text-decoration: none;
}

.sidebar-menu-homepage {
    display: grid;
    row-gap: 2.5rem;
}

.fas{
    margin-right: .5rem;
    color: #FFFFFF;
}

.nav-name-homepage {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}

.nav-name-homepage-log {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}


/*=== Page No Access ===*/
.no-access-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-access-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -- Goal Setting CSS  -- */

.main-cont {
    margin-left:50px;
    margin-bottom: 800px;
    background-color: rgb(244, 244, 244);
}

.row-content {
    column-gap: 10px;
    background-color: rgb(244, 244, 244);
}

.col-full-content{
    width: 100%;
    padding-bottom: 5rem;
}

.col-content {
    float:left;
    width: 100%;
    height:92vh;
    background-color: rgb(244, 244, 244);
    padding-bottom: 5rem;
    padding-top: .1rem;
}

.col-sub {
    background-color: white;
    margin-top: 25px;
    margin-right:50px;
    margin-left: 50px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.row-col-content {
    padding-left: 3rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title-header-style {
    font-size: 16px;
    color:#0C1C94; 
    margin-bottom: 10px; 
    background-color: white;
    border: none; 
}

.subGoalForm{
    background-color: white;
    width: 100%;  
    padding: 0; 
}

.subGoalFormStyle{
    width: 100%; 
    background-color: white;
    padding: 0; 
}

.form-container .leaderNameSubgoalContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
}

.subGoalContentContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-bottom: 1rem;*/
}

.form-container .subGoalContentContainer input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 85%;
    margin-right: 10px;
    padding-left: 1rem;
    pointer-events: none;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form-container .subGoalContentContainer input[type="text"]:focus{
    background-color: white;
    pointer-events: none;
}

.form-container .leaderNameActionContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
}

.actionBox{
    border: none; 
    border-left: 5px solid #0C1C94;
    width: 85%; 
    margin-right: 10px;
    pointer-events: none;
}

.form-container .actionScoreContainer .actionBox input[type="text"]{
    background-color: white;
    margin: 0;
    padding: 0; 
    border: none; 
    pointer-events: none;
}

.form-container .actionScoreContainer .actionBox input[type="text"]:focus{
    background-color: white;
    pointer-events: none;
}

.form-container .leaderUpdateActionContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
    
}

.removeSubGoalBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    width: 15%; 
    /* padding: 10px 10px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: 23px;
    margin-bottom: 23px;  */
}

.actionBtnStyle{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 10px 10px;
    width: 50px; 
    height: 50px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 23px;
    margin-bottom: 23px; 
}

#removeActionBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 13px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; 
    margin-top: 15px; 
}

.content-form {
    min-width: 500px;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
}

.newScoreContentContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-bottom: 1rem;*/
}

.form-container .newScoreContentContainer input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 85%;
    margin-right: 10px;
    padding-left: 1rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form-container .newScoreContentContainer input[type="text"]:focus{
    background-color: white;
}

.dash {
    border-top: .5px solid black;
    margin-bottom: 20px;
    margin-top: 15px;
}

.small-dash {
    border-top: .5px solid black;
    width: 100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
    .form-container .newScoreContentContainer input[type="text"] {
        width: 75%;
    }

    .removeSubGoalBtn{
        width: 20%;
        font-size: 10px;
    }

    .content-form {
        min-width: 0%;
        padding: 5px;
    }

}