

.not-complete-outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-complete-inner-div a{
    /* position: absolute; */
    top: 50%;
    left: 50%;
    text-decoration: none;
    transform: translate(-50%, -50%);
}