.QuestionnaireRoot {
    background-color: #29539b;
    background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
    margin: 0; 
}



.rectangle {
    width: 50%;
    height: 18px;
    background-color: #0C1C94;
    margin: 0 auto;
    padding-top: 0px;
    margin-bottom: 40px;
}

.QuestionnaireContainer {
    background-color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    padding-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color: #9a8c98;
    /*margin-top: 90px;*/
}

.QuestionnaireContainer h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    color: #0C1C94;
    font-size: 40px;
    margin-bottom: 10px;
}

.QuestionnaireContainer p {
    font-size: 16px;
    margin-top: 0;
    text-align: left;
    margin-bottom: 10px;
    font-weight: bolder;
}

.QuestionnaireTitle {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
    text-align: center;
    /* padding-left: 3%; */
}

.QuestionnaireTitle p {
    margin-top: 0;
    font-size: 15px;
    color: #22223b;
    text-align: center;
}

.QuestionnaireItems,
.AvailableTimeContainer {
    width: 90%;
    margin: 0 auto;
    padding: 3%;
    padding-left: 7%;
}

.QuestionnaireItems input[type=text],
select {
    width: 90%;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    border: none;
    border-bottom: 3px solid #0C1C94;
    box-sizing: content-box;
    background-color: #f1f1f1;
    border-radius: 10px;
}

.years-in-practice{
    width: 90%;
    border: none;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: block;
    box-sizing: content-box;
    border-bottom: 3px solid #0C1C94;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.AvailableTime {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-right: 7%;
}

.AvailableTime span {
    background-color: #f1f1f1;
    border: 1px solid #0C1C94;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    transition: background-color 150ms ease-in;
    border-radius: 10px;
}

.AvailableTime input[type="checkbox"] {
    display: none;
}

.AvailableTime input[type="checkbox"]:checked~span {
    background-color: #0C1C94;
    color: white;
}

input[type="submit"] {
    padding: 15px 25px;
    width: 200px;
    margin-top: 40px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #0C1C94;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover {
    color: white;
    background-color: #86ce56;
}

input[type="submit"]:active {
    color: white;
    background-color: #0C1C94;
}

.skip-for-now-btn{
    padding: 15px 25px;
    width: 200px;
    margin-top: 40px;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #989898;
    border: none;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
}

.skip-for-now-btn:hover {
    color: white;
    background-color: #404040;
}

.skip-for-now-btn:active {
    color: white;
    background-color: #989898;
}

@media screen and (max-width: 768px) {
    .QuestionnaireContainer {
        width: 100%;
        padding: 0; 

    }

}