/* SIDEBAR */

.sidebar-settingspage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-settingspage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-settingspage {
    font-weight: bold;
    margin-bottom: 2.5rem;
}

.sidebar-menu-settingspage {
    display: grid;
    row-gap: 2.5rem;
}

.nav-links-settingspage {
    display: flex;
    align-items: center;
    color: white; 
    text-decoration: none;
}

.nav-icon-settingspage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #FFFFFF;
}

.fa-cog{
    font-size: 1.25 rem; 
}

.fas{
    margin-right: .5rem;
    color: #FFFFFF;
}

.nav-name-settingspage {
    font-size: 15px;
    white-space: nowrap;
    color: #ffffff;
}

.show-menu {
    left: 0;
}

.active{
    color: #2b2b2b;
}

.nav-links-settingspage:hover {
    color: var(--main-color);
}

.nav-logo-name-settingspage,
.nav-name-settingspage {
    opacity: 0;
    transition: .3s;
}

.sidebar-settingspage:hover {
    width: var(--nav-width);
}

.sidebar-settingspage:hover .nav-logo-name-settingspage {
    opacity: 1;
}

.sidebar-settingspage:hover .nav-name-settingspage{
    opacity: 1; 
}

/* MAIN CONTENT */
.main-content-settings{
    margin-left: 60px; 
    background-color: white;
}

/* settings header */
.settings-header{
    width: 100%; 
    background-color: #0C1C94;
    margin-bottom: 0px;
}

.settings-header h1{
    text-align: left;
    padding-left: 45px;
    padding-top: 55px;
    padding-bottom: 15px; 
    margin-bottom: 0; 
    color: white; 
}


/* settings options */
.settings-container{
    margin-top: 0px; 
    display: flex; 
    flex-direction: row; 
    background-color:#f5f5f5;
}

.settings-options-container{
    display: flex; 
    flex-direction: column;
    height: 100vh; 
    width: 25%; 
    background-color: white;
}

.setting-option{
    padding: 5px; 
    border: 1px solid rgb(35, 35, 35); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 45px;
}

.setting-option h2{
    padding-top: 10px; 
}

.setting-option h2:hover{
    color: #3c5233; 
}

.fa-chevron-right{
    font-size: 1.25rem; 
    padding: 0;
    margin: 0; 
    margin-right: 8px; 
    padding-top: 17.5px; 
    padding-bottom: 0px;
}


/* settings Content */

.settings-content{
    width: 75%; 
    height: 100vh; 
    padding-left:5%;
    padding-right: 5%; 
    margin:0; 
}

/* profile */
.profile-content{
    margin: 0;
    padding-left: 50px;
    padding-right: 50px; 
    background-color: white;
    border-radius: 15px;
    margin-top: 50px; 
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.headingSettings{
    border-bottom: 1px solid rgb(202, 202, 202);
    text-align: left;
    margin-bottom: 15px;
    margin-top: 30px; 
    padding-top: 10px; 

}

.profiletxt{
    font-size: 35px;
    color: #495057; 
    text-align: left;
    margin-bottom: 0px;

}

.profile-picture{
    display: flex; 
    flex-direction: row;
    margin-top: 35px; 
}

.picture-container{
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin-right: 30px; 
    background-color: aliceblue;
}

.picture-buttons{
    display: flex;
    flex-direction: column;
}

.picture-buttons button{
    padding: 8px 10px; 
    border: none;    
}

.change-pic{
    background-color: #0C1C94;
    color: white; 
    margin-bottom: 10px; 
}

.delete-pic{
    color: #0C1C94; 
    background-color: white;
}

.profile-edit{
    margin-top: 30px; 
}

.profile-edit p{
    font-size: 18px; 
    margin-bottom: 1px;
    font-weight: bold;
    color:#535353
}

.profile-edit input[type=text], .profile-edit input[type=email], .profile-edit input[type=number], .profile-edit input[type=password] {
    width: 100%;
    height: 40px; 
    padding: 10px 15px; 
    border: 0.5px solid grey;
    margin-top: 1px; 
    margin-bottom: 20px; 

}


#submit-button {
    background-color: #0C1C94;
    color: white; 
    padding: 15px 35px; 
    border: none; 
    margin-bottom: 30px; 
    cursor:pointer;
}

/* available days */

.AvailableTimeSettings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-right: 7%;
}

.AvailableTimeSettings span {
    background-color: white;
    border: 1px solid #3c5233;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    color: #0C1C94; 
    transition: background-color 150ms ease-in;
}

.AvailableTimeSettings input[type="checkbox"] {
    display: none;
}

.AvailableTimeSettings input[type="checkbox"]:checked~span {
    background-color: #0C1C94;
    color: white;
}

/* INDUSTRY */
.AvailableTimeSettings input[type="radio"]{
    display: none; 
}

.industrybox{
    margin-bottom: 20px; 
    margin-top: 5px; 
}

.AvailableTimeSettings input[type="radio"]:checked~span{
    background-color: #0C1C94;
    color: white;
}

/* subs */


.service{
    text-align: center;
    padding: 10px; 
    border: 1px solid #0C1C94; 
}



.subscriptionPlan{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    padding: 0; 
    margin-top: 30px;

}

.subscriptionPlan .subscription-details .subscription-content{
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
}

.subscription-details{
    border: 2px solid #e1e2e7;
    border-radius: 10px;
    width: 100%; 
    
}


.subscription{
    padding: 0px; 
    margin: 0px; 
    width: 33.3%; 

}


.subscription input[type="radio"]{
    visibility: hidden;
    width: 5px; 
}
  

  .subscription{
      margin:0;
      padding: 0;
  }


  .subscription-details{
      padding: 20px;
      margin: 10px;  
  }
  

  .subscriptionPlan .subscription {
    display: flex;
    padding: 0; 
    justify-content: space-between;
  }


  .subscription-content{
      align-items: center;
      text-align: center;
      padding: 30px; 
  }
  


  .servicePlans .plan .plan-details span {
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #252f42;
  }


  .subscription .subscription-details .subscription-content span{
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: #252f42;
  }
  
  .subscription .subscription-details .subscription-content p{
    color: #646a79;
    font-size: 14px;
    line-height: 18px;
  }

  .usernameContainer{
      display: flex; 
      flex-direction: row;
      width: 100%; 
      margin-bottom: 20px;
  }


  .usernameContainer input{
      border: none; 
      padding-top: 0px; 
      padding-left: 10px;
      margin-top: -20px;   
}



  /* ************** */
  

  .subscription-details:hover{
    box-shadow: 0px 3px 5px 0px #e8e8e8;

  }

  .subscriptionPlan .subscription input[type="radio"]:checked + .subscription-details {
    background: #eaf1fe;  
    border: 2px solid #07500d;
  }

  .subscriptionPlan .subscription input[type="radio"]:checked + .subscription-details:after {
    background:#94f5cd;
    box-shadow: 0px 0px 0px 2px #07500d;
    border: 3px solid #fff;

}


@media screen and (max-width: 768px) {

    .settings-container{
        display: flex;
        flex-direction: column;
    }

    .settings-options-container{
        height: auto; 
        width: auto; 
    }

    .settings-content{
        width: auto; 
    }

    .profile-content{
        width: 100%; 
    }

    .AvailableTimeSettings{
        grid-template-columns: auto;
    }

    .subscriptionPlan{
        flex-direction: column;
    }


    .subscription{
        width: 100%; 
    }

    .subscription-details{
        width:100%; 
    }


}
.que {
    color: black;
    text-decoration: none;
}

  
 

