.logo-lettering h1{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

.header-toggle-container  {
    font-size: 2.25rem;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    margin-right: 20px;
    color: rgb(40, 40, 40);
}

.top-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    background-color: #0C1C94;
    z-index:0; 
    height: 50px;
    display: block; 
}

.acc-feature{
    margin-right: 0px; 
    padding: 5px;
    margin-bottom: 0px;
    z-index: var(--z-fixed);

}

.acc-dropdown{
    background-color: white;
    flex-direction: column;
    padding: 10px; 
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    display: none;
}

.acc-dropdown a{
    padding: 7px;
    margin-bottom: 0px;
    text-align: center; 
}

.top-icon-coachpage{
    margin-left: 100px;
    font-size: 1.25rem;
    margin-bottom: 5px;
}

.acc-feature:hover .acc-dropdown{
    display: flex;
}
