/* Notification container styling */

.notification-coach-page-div{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Grid styling for overall coach homepage */

.coach-home-page-grid-div{
    width: 90%;
    height: auto;
    display: inline-block;
    margin-left: 40px;
    margin-top: 90px;
    text-align: center;
}

.coach-home-page-grid-inner-div{
    width: 75%;
    display: inline-block;
}

/* Calendar toggle open pop-up */
.calendar-container-div{
    background: none;
}

/* ----- Toggle list of leader zoom links for coach ----- */
.all-leader-sessions-div{
    display: block;
    width: 90%;
    height: auto;
    margin: 10px;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.open-coaching-sessions-div{
    transition: 0.3s;
    width: 95%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #F3F3F3;
    display: inline-block;
    background: blue;
    margin: 10px;
    border-radius: 10px;
    border-width: thin;
    border:1px solid blue;    
}

.open-coaching-sessions-div:hover{
    color: blue;
    background: none;
    border-radius: 10px;
    cursor: pointer;
}

.open-coaching-sessions-div:active{
    color: white;
    background: blue;
    border-radius: 10px;
    cursor: pointer;
}

.leader-session-container-div{
    display: none;
    height: auto;
    width: 100%;
    margin-top:10px;
    margin-bottom:20px;

}

.single-leader-session-container-div{
    transition: 0.2s;
    display: inline-block;
    width: 90%;
    border-bottom: solid 1px gray;
    border-bottom-width: thin;
}

/* leader name */
.leader-session-description-div{
    display: inline-block;
    width: 90%;
    font-weight: bold;
    margin-top: 10px;
}

/* div to hold leader time and join session button */
.leader-time-join-btn-holder{ 
    display: inline-block;
    width: 90%;
}

/* div to hold leader meeting id and password */
.leader-meeting-id-password-holder{
    display:inline-block;
    width: 90%;
}


/* active session */
.single-leader-active-session-div{
    text-decoration: none;
    transition: 0.3s;
    width: 120px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #F3F3F3;
    display: inline-block;
    background: darkblue;
    margin: 10px;
    border-radius: 10px;
    border-width: thin;
    border:1px solid darkblue;
}


.single-leader-active-session-div:hover{
    color: darkblue;
    background: none;
    border-radius: 10px;
    cursor: pointer;
}

.single-leader-active-session-div:active{
    color: white;
    background: darkblue;
    border-radius: 10px;
    border-style: 2px solid black;
    cursor: pointer;
}

.single-leader-time{
    display: inline-block;
    width: 60%;
    margin: 5px;
}

.single-leader-meeting-id-password{
    display: inline-block;
    /* width: 60%; */
    margin: 5px;
}

.single-leader-no-session{
    display: inline-block;
    margin:10px;
    width: 90%;
}

@media screen and (max-width: 950px) {
    .single-leader-active-session-div{
        width: 60%;
    }

    .leader-session-description-div{
        margin-top: 10px;
    }

    .leader-session-description-div, .single-leader-active-session-div, .single-leader-meeting-id-password{
        width: 90%;
    }
}