@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #0C1C94;
    --color-dark: #3A3335;
    --text-grey: #C2C2C2;
    --content-orange: #F89C77;
    --content-light-orange: #FCD5C5;
    --content-light-grey: #5C5C5C;
    --z-fixed: 100;
    --nav-width: 219px;
}

/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
*/
/* ====== HEADER CSS =======  */
.logo-lettering{
    margin: 0 auto;
}

.header-toggle-container  {
    font-size: 2.25rem;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    margin-right: 20px;
    color: white;
}

.top-header {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    background-color: #0C1C94;
}

/* ====== SIDEBAR ========  */

.sidebar-coachpage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-coachpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-coachpage {
    font-weight: bold;
    margin-bottom: 2.5rem;

}

.sidebar-menu-coachpage {
    display: grid;
    row-gap: 2.5rem;
}

.nav-links-coachpage {
    display: flex;
    align-items: center;
    color: white; 
    text-decoration: none;
}

.nav-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #FFFFFF;
}

.fa-cog{
    font-size: 1.25 rem; 
}

.nav-name-coachpage {
    font-size: 15px;
    white-space: nowrap;
}

.show-menu {
    left: 0;
}

.active{
    color: #073b4c;
}

.nav-links-coachpage:hover {
    color: var(--main-color);
}

.nav-logo-name-coachpage,
.nav-name-coachpage {
    opacity: 0;
    transition: .3s;
}

.sidebar-coachpage:hover {
    width: var(--nav-width);
}

.sidebar-coachpage:hover .nav-logo-name-coachpage {
    opacity: 1;
}

.sidebar-coachpage:hover .nav-name-coachpage{
    opacity: 1; 
}


/*========== MAIN CONTENT ========= */


.main-content {
    margin-left:50px;
}

.main-content .user-wrapper{
    top: 0;
    justify-content: space-evenly;
    background-color: grey; /* For browsers that do not support gradients, will load this */
    background-image: linear-gradient(#5C5C5C, #292929);
}

.user-space .text-wrapper{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-style: solid;
    border-color: white;
    background-color: #EBEBEB; 
    
}

.text-wrapper .name-desc{
    font-family: 'Poppins', sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px black;
}

.user-wrapper {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.image-wrapper {
    border-radius: 50%;
    border-style:solid;
    border-color: white;
    border-width: .2rem;
    height: 220px;
    width: 220px;
    background: url('../../images/img-10.jpg');
    background-repeat: no-repeat;
    background-position: center;
}


.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

.personal-content-wrapper {
    background-color: black;
    border-style: solid;
    border-color: white;
}

.font-detail {
    font-style: italic;
    color: #5C5C5C;
    text-align: left;
}

.row {
    column-gap: 25px;
}

.column-left {
    float:left;
    width: 70%;
    padding-bottom: 5rem;
    padding-top: .1rem;
}
.column-right {
    float:left;
    width: 30%;
    padding-left: 1rem;
    padding-bottom: 5rem;
    padding-top: .1rem;
}

.column-sub1 {
    background-color: #F89C77;
}
.column-sub2 {
    background-color: #FCD5C5;
}

.column-sub3 {
    background-color: #3A3335;
}

.column-sub4 {
    background-color: #5C5C5C;
}

.row-modi {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.coach-happy-btns {
    text-align: center;
  }

.happy-with-coach-btn {
    background-color: white;
    border: none;
    color: #75B9BE;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: 0.3s;
}

.happy-with-coach-btn:hover {
    opacity: 0.5;
}

.evidence-based-text {
    color:white;
}

.icon-wrapper {
    text-align: center;
    color: #fff;
}

.smaller-header{
    font-size: 1rem;
    font-style: italic;
    color: #75B9BE;
}



/* end here */

@media screen and (max-width: 768px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .column-left{
        width: 100%;
    }

    .column-right{
        width: 100%;
    }
}