@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root {
    --main-color: #ffffff;
    --color-dark: #3A3335;
    --z-fixed: 100;
    --nav-width: 219px;
}




/* MESSAGING CSS STARTS HERE */
body {
    background-color: #fff
  }



  ::-webkit-scrollbar {
    width: 10px
  }

  ::-webkit-scrollbar-track {
    background: #eee
  }

  ::-webkit-scrollbar-thumb {
    background: #888
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555
  }

  .wrapper {
    /* height: 100vh; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    bottom: 0;
    right:0;
    
  }

  .main {
    background-color: #eee;
    width: 320px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 0px 0px 0px;
  }

  .scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 325px;
  }

  .scroll-element{
    overflow:scroll;
  }

  .img1 {
    border-radius: 50%;
    background-color: #66BB6A
  }

  .name {
    font-size: 8px
  }

  .msg {
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #3e3c3c
  }

  .between {
    font-size: 8px;
    font-weight: 500;
    color: #a09e9e
  }

  .message-input {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

  .form-control {
    font-size: 12px;
    font-weight: 400;
    width: 230px;
    height: 30px;
    border: none
  }

  .form-control:focus {
    box-shadow: none;
    overflow: hidden;
    border: none
  }

  .form-control:focus {
    box-shadow: none !important
  }

  .icon1 {
    color: #7C4DFF !important;
    font-size: 18px !important;
    cursor: pointer
  }

  .icon2 {
    color: #512DA8 !important;
    font-size: 18px !important;
    position: relative;
    left: 8px;
    padding: 0px;
    cursor: pointer
  }

  .icondiv {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: relative;
    bottom: 1px
  }
  .fas .fa-times-circle{
      margin-right: .5rem;
      color: #0C1C94;
  }
  .message-icon-coachpage2{
      position: fixed;
      right: 0;
      color: #0C1C94 !important;
      cursor: pointer;
  }

.message-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: white;
    cursor:pointer;
    background-color: #0C1C94;
    position: fixed;
    bottom: 0px;
    right:0px;
    padding: 15px; 
    border-radius: 5px;
}



  /* MESSAGING CSS ENDS HERE */


/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
*/
/* ====== HEADER CSS =======  */
.logo-lettering h1{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
}

.header-toggle-container  {
    font-size: 2.25rem;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    margin-right: 20px;
    color: rgb(40, 40, 40);
}

.top-header {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    background-color: #0C1C94;
}

/* ====== SIDEBAR ========  */

.sidebar-homepage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-homepage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-homepage {
    font-weight: bold;
    margin-bottom: 2.5rem;

}

.sidebar-menu-homepage {
    display: grid;
    row-gap: 2.5rem;
}

.nav-links-homepage {
    display: flex;
    align-items: center;
    color: white; 
    text-decoration: none;
}

.nav-icon-homepage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #FFFFFF;

}

.fa-cog{
    font-size: 1.25 rem; 
}

.fas{
    margin-right: .5rem;
    color: #FFFFFF;
}

.nav-name-homepage {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}

.nav-name-homepage-log {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}


.show-menu {
    left: 0;
}

.active{
    color: #2b2b2b;
}

.nav-links-homepage:hover {
    color: var(--main-color);
}

.nav-logo-name-homepage,
.nav-name-homepage {
    opacity: 0;
    transition: .3s;
}

.sidebar-homepage:hover {
    width: var(--nav-width);
}

.sidebar-homepage:hover .nav-logo-name-homepage {
    opacity: 1;
}

.sidebar-homepage:hover .nav-name-homepage{
    opacity: 1; 
}


/*=== Page No Access ===*/
.no-access-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-access-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.questionnaire-prompt-text{
    text-align: center;
}

/*========== MAIN CONTENT ========= */

.main-cont {
    margin-left:50px;
    margin-bottom: 800px;
    background-color: rgb(244, 244, 244);
}




.personal-cont-wrapper {
    background-color: grey;
    border-color: black;
}

.font-det {
    font-style: italic;
    color: #5C5C5C;
    text-align: left;
}

.roww {
    column-gap: 10px;
    background-color: rgb(244, 244, 244);
}

.col-left {
    float:left;
    width: 50%;
    height:60%;
    background-color: rgb(244, 244, 244);
    padding-bottom: 5rem;
    padding-top: .1rem;
}
.col-right {
    float:right;
    width: 50%;
    height:60%;
    background-color: rgb(244, 244, 244);
    padding-left: 4rem;
    padding-bottom: 5rem;
    padding-top: .1rem;
    margin: 0px; 
}

.col-sub1 {
    background-color: rgb(244, 244, 244);
    margin-top: 25px;
    border-style: solid;
    border-color: black;
    margin-right:25px;
}
.col-sub2 {
    background-color: white;
    margin-top: 25px;
    margin-right:10px;
    margin-left: 50px; 
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}
/* VARIATION ON YOUR ACTION */
/* .col-sub2-actions h1{
    background-color: rgb(40, 40, 40);
    border-style: solid;
    border-color: black;
    margin-top: 25px;
    margin-right:25px;
    color: white;
}  */

.col-sub2-actions {
    background-color: white;
    margin-top: 25px;
    margin-right:10px;
    margin-left: 50px; 
    color: rgb(40, 40, 40);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    overflow: auto;
    scrollbar-width: none;
    height: 90vh; 
    width: 90%;
}

.col-sub2-actions h1 {
    color: rgb(40, 40, 40);
}

.col-sub3 {
    background-color: white;
    margin-top: 25px;
    margin-left:10px;
    margin-right: 25px; 
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.col-sub3 h1 {
    color: rgb(40, 40, 40);
}

.col-sub3-progress {
    background-color: white;
    margin-top: 25px;
    margin-left:10px;
    color: rgb(40, 40, 40);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}


.col-sub4 {
    background-color: #75B9BE;
    border-style: solid;
    border-color: black;
    margin-top: 25px;
    margin-left:25px;
}

.row-mod {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

.row-mod-leader-actions{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    /* display: justify-content; */
    display: grid;
    justify-content: center;
}

.your-actions-outer-div{
    display: inline-block;
    justify-content: center;
    text-align: center;
}










.evidence-text {
    color: rgb(40, 40, 40);
}

.evidence-btn-group {
    text-align:center;
    width: 100%;
}

.evidence-btn{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    width: 40%;
}

.smaller-head{
    font-size: 2rem;
    font-style: italic;
    /* color: #9BA6F7; */
}

.bookingTimeContainer{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #0C1C94;
}

.zoomLinkContainer{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #0C1C94;
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.flex1{
    flex-grow: 1;
}

.flex2{
    flex-grow: 2;
}

.bookingDate{
    margin:13px; 
}


.bookingDate small{
    color: #0C1C94;
    margin-bottom: 20px; 
}

.bookingDate h2{
    font-size: 25px; 
}

.bookingDate a{
    font-size: 25px; 
}

#nextScheduletext{
    font-size: 20px; 
}

/* Homework Styling */
.hwContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.toggleHw{
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 5px;
    padding: 15px; 
    border: none;
    width: 100%; 
    font-size: 16px;
    border-left: 8px solid #0C1C94;
}

.toggleHw input[type="text"]{
    width: 350px; 
    padding: 3px; 
    border: none; 
}

.toggleHw:hover{
    box-shadow: rgba(100, 100, 220, 0.625) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.finishHwSubmit{
    padding: 18px;
    background-color: #0C1C94;
    color: white;
    border-radius: 5px;
    

}

.contentHw{
    display: flex; 
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid rgb(203, 203, 203); 
    border-radius: 0px 0px 5px 5px ;
    padding: 15px; 
    border: none;
    width: 100%; 
    font-size: 16px;
    margin-top: 5px;
    transition: .4s;
    margin-bottom: 20px;

}

.contentHw input[type="text"]{
    padding: 3px; 
    border: none; 
    margin-top: 10px; 
}

.strike-through {
    color: gray;
    text-decoration: line-through;

}

/* Progress Bar */
.w3-grey{
    background-color: #0C1C94;
    height:24px; 
    width:20%;
    padding: 0; 
    margin: 0;  
    border-radius: 5px;

}

.w3-border{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    height:25px; 
    background-color: white;
    padding: 0; 
    margin: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; 
}

.progressGraph{
    width: 40%; 
}

/* Homework section */ 

.leaderGoalsSection{
    background-color: white;
    border-radius: 5px;
    padding: 15px; 
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* padding-left: 15px; */
    font-size: 16px; 
    font-weight: 100;
    border-bottom: 1px solid #0C1C94;
}

.subGoalForm{
    background-color: white;
    width: 100%;  
    padding: 0; 
}

.subGoalFormStyle{
    width: 100%; 
    background-color: white;
    padding: 0; 
}

.newSubGoalContainer{
    width: 100%; 
    background-color: white;
}

.form-container-tm{
    background-color: white;
    padding: 20px; 
}

.form-container .newSubGoalForm input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 100%;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form-container .newSubGoalForm input[type="text"]:focus{
    background-color: white;
}

.subGoalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}

.subGoalContentContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-container .subGoalContentContainer input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 85%;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;

}

.form-container .subGoalContentContainer input[type="text"]:focus{
    background-color: white;

}

.removeSubGoalBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    width: 15%; 
    /* padding: 10px 10px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    /* margin-top: 23px;
    margin-bottom: 23px;  */
}

#removeActionBtn{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 13px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px; 
    margin-top: 15px; 
}

.actionBtnStyle{
    background-color:#0C1C94;
    border: none;
    color: white;
    padding: 10px 10px;
    width: 50px; 
    height: 50px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 23px;
    margin-bottom: 23px; 
}

.form-container .leaderNameSubgoalContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
    
}

.form-container .leaderNameActionContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
    
}

.form-container .leaderSubgoalActionContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
    
}

.form-container .leaderUpdateActionContainer input[type="text"]{
    height: 5px; 
    width: 5px; 
    font-size: 4px;
    padding: 0;
    margin: 0; 
    visibility: hidden;
    box-shadow: none;
    
}

.actionBox{
    border: none; 
    border-left: 5px solid #0C1C94;
    width: 85%; 
    margin-right: 10px;

}

.form-container .actionScoreContainer .actionBox input[type="text"]{
    background-color: white;
    margin: 0;
    padding: 0; 
    border: none; 
}

.form-container .actionScoreContainer .actionBox input[type="text"]:focus{
    background-color: white;
}

.title-header-style {
    font-size: 16px;
    color:#0C1C94; 
    margin-bottom: 10px; 
    background-color: white;
    border: none; 
}

.newScoreContentContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /*padding-bottom: 1rem;*/
}

.form-container .newScoreContentContainer input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: none; 
    border-bottom: 1px solid #0C1C94;
    width: 85%;
    margin-right: 10px;
    padding-left: 1rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.form-container .newScoreContentContainer input[type="text"]:focus{
    background-color: white;
}

.dash {
    border-top: .5px solid black;
    margin-bottom: 20px;
    margin-top: 15px;
}

.small-dash {
    border-top: .5px solid black;
    width: 100px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
}

.calendar-userhome-container{
    margin-left: 15px;
    margin-top: 50vh;
    margin-bottom:10px;
    display: inline-flex;
    flex-direction: column;
}

/*======= Incomplete questionnaire alert  =======*/

.visit-questionnaire-outer a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 100%;
}

.visit-questionnaire-div{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background: transparent;
    color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: white;
    align-items: center;
    text-align: center;
}

.visit-questionnaire-div:hover{
    background: white;
    color: RGB(25, 138, 251); 
}

.messageWrapper{
    position: fixed;
    bottom: 4vh;
    right: 4vw;
    text-align: right;
}





@media screen and (max-width: 768px) {
    .roww{
        display: flex;
        flex-direction: column;
    }

    .col-left{
        width: 100%;
        padding-bottom: 5rem;
    }

    .col-right{
        width: 100%;
        padding-top: 5rem;
    }

    .col-sub2-actions{
        width: 85%;
    }

    .zoomLinkContainer{
        overflow: hidden;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .form-container .newScoreContentContainer input[type="text"] {
        width: 95%;
    }

    .removeSubGoalBtn{
        width: 5%;
        font-size: 10px;
    }

    .evidence-btn{
        padding: 0px;
    }
}

