/* Global Colours */
/* WIP */

.load-coach-info-div{
    display: none;
}

.full-background{
    background: rgb(240, 240, 240);
    width: 100%;
    height: 1200px;
    max-height: 100%;
    display: block;
    padding: 20px;
}

.my-coach-main-content{
    margin-left: 100px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: 50px;
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}


/*------- Notification and Calendar Styling --------*/

.notification-coach-page-div{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

.calendar-outer-div{
    width: 80%;
    height: 80%;
    top: 0;
    left:0;
    display: none;
    z-index: 10;
    justify-content: center;
    position: relative;
}

.calendar-coach-page-div{
    width:90%;
    height: 80%;
    position: absolute;
    display: inline-block;
    margin: 50px;
    transform: translate(-35%, -50%);
    margin-left: 10px;
    left: 50%;
}

.close-calendar-outer{
    display: none;
}

.close-calendar-outer-div{
    display: none;
    width: 50px;
    height: 50px;
}

.close-calendar-inner-div{
    display: justify-content;
}

.close-calendar-btn-div{
    transition: 0.2s;
    width: 50px;
    height: 50px;
    line-height: 50px; /* Center element vertically */
    right: -15px;
    bottom: -115px;
    display: none;
    background: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    position: absolute;
    z-index: 10;
    /* transform: translate(10%, 80%); */
}

.close-calendar-btn-div:hover{
    background: white;
    color: red;
    border: red solid 1px;
    border-width: thin;
}

/*------- Left Column ---------*/

.main-coach-information{
    width: 30%;
    height: 100%;
    bottom: 0; 
    margin-right: 5px;
    float: left;
    padding-top: 150px;
    text-align: center;
    background: white;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 1px darkgrey;
}

.profile-image-div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-style:solid;
    border-color: black;
    border-width: .2rem;
    display: inline-block;
    background: url('../../../images/img-10.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.name-desc-div{
    font-size: 20px;
    color: black;
    text-align: center;
    margin: 3px;
}

.gender-age-div{
    width: 50%;
    display: inline-block;
    margin: 2px;
}

.gender-age-text{
    width: 30%;
    font-size: 12px;
    color: black;
    display: inline-block;
}

.years-in-industry-div{
    font-size: 12px;
    color: black;
    text-align: center;
    margin: 2px;
}

.booking-schedule-div{
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.schedule-booking-btn{
    transition: 0.3s;
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #F3F3F3;
    display: inline-block;
    background: blue;
    margin: 10px;
    border-radius: 10px;
    border-width: thin;
    border:1px solid blue;
}

.schedule-booking-btn:hover{
    color: blue;
    background: none;
    border-radius: 10px;
    cursor: pointer;
}

.schedule-booking-btn:active{
    color: white;
    background: blue;
    border-radius: 10px;
    cursor: pointer;
}

.booking-date-desc-div{
    width: 90%;
    font-size: 12px;
    color: black;
    text-align: center;
    margin: 2px;
    border-top-width: thin;
    border-top: solid black 1px;
    padding-top: 10px;
    display: inline-block;
}

.booking-date-div{
    font-size: 12px;
    color: black;
    text-align: center;
    margin: 2px;
    display: inline-block;
}

.enable-join-session-div{
    display: block;
}

.disable-join-session-div{
    display: none;
}

.enter-video-call-btn{
    transition: 0.3s;
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #F3F3F3;
    display: inline-block;
    background: darkblue;
    margin: 10px;
    border-radius: 10px;
    border-width: thin;
    border:1px solid darkblue;
}

.enter-video-call-btn:hover{
    color: darkblue;
    background: none;
    border-radius: 10px;
    cursor: pointer;
}

.enter-video-call-btn:active{
    color: white;
    background: darkblue;
    border-radius: 10px;
    border-style: 2px solid black;
    cursor: pointer;
}

.disable-enter-video-call-btn{
    pointer-events: none;
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #F3F3F3;
    display: inline-block;
    background: darkgray;
    margin: 10px;
    border-radius: 10px;
    border-width: thin;
    border:1px solid darkgray;
}


.book-video-icon-div{
    margin-left: 5px;
}

.zoom-link-hyperlink-a{
    transition: 0.3s;
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #F3F3F3;
    display: inline-block;
    background: darkblue;
    margin: 10px;
    border-radius: 10px;
    border-width: thin;
    border:1px solid darkblue;
    text-decoration: none;
}

.zoom-link-hyperlink-a:hover{
    color: darkblue;
    background: none;
    border-radius: 10px;
    cursor: pointer;
}




/*------- Right Column ---------*/

.additional-information-wrapper{
    float: left;
    width: 60%;
}

/*------- Right-Upper Column ---------*/

.main-coaching-goals{
    height: 30%;
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}

.coaching-goal-div{
    padding: 1em;
    width: 80%;
    transition: 0.4s;
    color: blue;
    background: white;
    font-size: 14px;
    display: inline-block;
    margin: 5px;
    border: 1.5px solid darkgray;
    border-radius: 10px;
    border-left-width: thick;
  }
  
  .coaching-goal-div:hover {
    border-radius: 10px;
    background: white;
    margin-left: 30px;
    color: rgb(56, 56, 56);
    border: 1.5px solid blue;
  }

/*------- Right-Bottom Column ---------*/

.main-about-me{
    height: 65%;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.about-me-div{
    height: auto;
    width: 80%;
    text-align: left !important;
    background: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    -moz-box-shadow:    5px 5px 10px 1px darkgrey;
    -webkit-box-shadow: 5px 5px 10px 1px darkgrey;
    box-shadow: 5px 5px 10px 1px darkgrey;
}

.about-me-header-div{
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    border-bottom-width: thin;
    border-bottom-style: solid;
    margin-bottom: 5px;
}

.about-me-body-div{
    font-size: 14px;
    width: 80%;
}


/*--- Mobile View ---*/

@media screen and (max-width: 1098px) {
    .my-coach-main-content{
        width: 85vw;
    }

}

@media screen and (max-width: 800px) {
    .calendar-coach-page-div{
        width: 90%;
        margin-left: 5%;
    }
    
    .full-background{
        height: 2000px;
    }

    .my-coach-main-content{
        width: 65vw;
        display: block;
    }

    .main-coach-information{
        width: 100%;
        height: 800px;
        padding-bottom: 150px;
        margin-bottom: 50px;
    }

    .additional-information-wrapper{
        width: 105%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .booking-schedule-div{
        display: block;
    }

    .schedule-booking-btn{
        width: 80%;
    }
    
    .enter-video-call-btn{
        width: 80%;
    }
    
    .about-me-div{
        width: 90%;
    }

} 
