@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --main-color: #0C1C94;
    --color-dark: #3A3335;
    --text-grey: #C2C2C2;
    --content-orange: #F89C77;
    --content-light-orange: #FCD5C5;
    --content-light-grey: #5C5C5C;
    --z-fixed: 100;
    --nav-width: 219px;
}

/*
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
*/
/* ====== HEADER CSS =======  */
.logo-lettering{
    margin: 0 auto;
}

.header-toggle-container  {
    font-size: 2.25rem;
    padding: 0;
    padding-top: 3px;
    margin: 0;
    margin-right: 20px;
    color: white;
}

.top-header {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    z-index: var(--z-fixed);
    color: #0C1C94;
}

/* ====== SIDEBAR ========  */

.sidebar-coachpage {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    padding: 1.2rem 1.5rem 3rem;
    width: 68px;
    background-color: #0C1C94;
    z-index: var(--z-fixed);
    transition: .4s;
}

.navContainer-coachpage {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.nav-logo-coachpage {
    font-weight: bold;
    margin-bottom: 2.5rem;

}

.sidebar-menu-coachpage {
    display: grid;
    row-gap: 2.5rem;
}

.nav-links-coachpage {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: #FFFFFF;
}

.fa-cog{
    font-size: 1.25 rem;
}

.fas{
    margin-right: .5rem;
    color: #FFFFFF;
}

.nav-name-coachpage {
    font-size: 15px;
    white-space: nowrap;
    color: white;
}

.show-menu {
    left: 0;
}

.active{
    color: #2b2b2b
}

.nav-links-coachpage:hover {
    color: var(--main-color);
}

.nav-logo-name-coachpage,
.nav-name-coachpage {
    opacity: 0;
    transition: .3s;
}

.sidebar-coachpage:hover {
    width: var(--nav-width);
}

.sidebar-coachpage:hover .nav-logo-name-coachpage {
    opacity: 1;
}

.sidebar-coachpage:hover .nav-name-coachpage{
    opacity: 1;
}


/*=== Page No Access ===*/
.no-access-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-access-inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*========== MAIN CONTENT ========= */
.main-content {
    margin-left:50px;
}

.main-content .user-wrapper{
    top: 0;
    justify-content: space-evenly;
    background-color: grey; /* For browsers that do not support gradients, will load this */
    background-image: linear-gradient(#5C5C5C, #292929);
}

.user-space .text-wrapper{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    border-style: solid;
    border-color: white;
    background-color: #EBEBEB;

}

.text-wrapper .name-desc{
    font-family: 'Montserrat', sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px black;
}

.user-wrapper {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.image-wrapper {
    border-radius: 50%;
    border-style:solid;
    border-color: white;
    border-width: .2rem;
    height: 220px;
    width: 220px;
    background: url('../../../images/img-10.jpg');
    background-repeat: no-repeat;
    background-position: center;
}


.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
}

.personal-content-wrapper {
    background-color: rgb(254, 254, 254);
    border-color: white;
}

.font-detail {
    font-style: italic;
    color: var(--main-color);
    text-align: left;
}

.row {
    column-gap: 2px;
}

.column-left {
    float:left;
    width: 70%;
    padding-bottom: 5rem;
    /* padding-top: .1rem; */
}
.column-right {
    float:left;
    width: 30%;
    padding: 0;
    /* padding-left: 1rem;
    padding-bottom: 5rem;
    padding-top: .1rem;
 */
}

.column-sub1 {
    background-color: #F89C77;
}
.column-sub2 {
    background-color: #FCD5C5;
}

.column-sub3 {
    background-color: rgb(254, 254, 254);;
}

.column-sub4 {
    background-color: #CCCCCC;
}

.row-modi {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* left off here */
.row-modi-schedule{
    padding: 0;
}



.coach-happy-btns {
    text-align: center;
  }

.happy-with-coach-btn {
    background-color: white;
    border: none;
    color: #0C1C94;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 100px;
    height: 100px;
    opacity: 1;
    transition: 0.3s;
}

.happy-with-coach-btn:hover {
    opacity: 0.5;
}

.evidence-based-text {
    color:rgb(40, 40, 40);
}

.icon-wrapper {
    text-align: center;
    color: #fff;
}

.smaller-header{
    font-size: 1rem;
    font-style: italic;
    color: #0C1C94;
}


/* schedule section */



.scheduleHeader{
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color:#9BA6F7;
    justify-content: center;
    padding: 20px;
}

.fa-calendar-alt{
    font-size: 1.2rem;
    /* font-color: red;  */
    margin-left: 10px;
}

.calendarWrapper{
    padding: 0px;
}

.coach-form {
    width: 30vw;
    align-self: center;
    box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
      0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
    border-radius: 7px;
    padding: 40px;
  }

.form-container{
    background-color: white;
    padding: 0px;
}

.form-container input[type=text], .form-container input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
border: none;
background: #f1f1f1;
border-bottom: 2px solid #9BA6F7;

}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
background-color: purple;
outline: none;
}

.scheduleName{
    text-align: left;
}

.scheduleDate{
    background-color: #f1f1f1;
    border-bottom: 2px solid #0C1C94;
    margin-bottom: 12px;
    /*width: 95%;*/
}

  .form-container .btn {
    background-color: #0C1C94;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }

  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .scheduleSubmit{
      margin-top: 15px;
  }


.fa-comment{
    margin: 10px;
}

.fa-comment{
    margin: 10px; 
}

.MessageWrapper{
    position: fixed;
    bottom: 4vh;
    right: 4vw;
    text-align: right;
}


/* end here */

@media screen and (max-width: 768px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .column-left{
        width: 100%;
    }

    .column-right{
        width: 100%;
    }
}


/* MESSAGING CSS STARTS HERE */
body {
    background-color: #fff
  }



  ::-webkit-scrollbar {
    width: 10px
  }

  ::-webkit-scrollbar-track {
    background: #eee
  }

  ::-webkit-scrollbar-thumb {
    background: #888
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555
  }

  .wrapper {
    /* height: 100vh; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: fixed;
    bottom: 0;
    right:0;
    
  }

  .main {
    background-color: #eee;
    width: 320px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 6px 0px 0px 0px;
  }

  .scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 325px;
  }

  .scroll-element{
    overflow:scroll;
  }

  .img1 {
    border-radius: 50%;
    background-color: #66BB6A
  }

  .name {
    font-size: 8px
  }

  .msg {
    background-color: #fff;
    font-size: 11px;
    padding: 5px;
    border-radius: 5px;
    font-weight: 500;
    color: #3e3c3c
  }

  .between {
    font-size: 8px;
    font-weight: 500;
    color: #a09e9e
  }

  .message-input {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }

  .form-control {
    font-size: 12px;
    font-weight: 400;
    width: 230px;
    height: 30px;
    border: none
  }

  .form-control:focus {
    box-shadow: none;
    overflow: hidden;
    border: none
  }

  .form-control:focus {
    box-shadow: none !important
  }

  .icon1 {
    color: #7C4DFF !important;
    font-size: 18px !important;
    cursor: pointer
  }

  .icon2 {
    color: #512DA8 !important;
    font-size: 18px !important;
    position: relative;
    left: 8px;
    padding: 0px;
    cursor: pointer
  }

  .icondiv {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 2px;
    position: relative;
    bottom: 1px
  }
  .fas .fa-times-circle{
      margin-right: .5rem;
      color: #0C1C94;
  }
  .message-icon-coachpage2{
      position: fixed;
      right: 0;
      color: #0C1C94 !important;
      cursor: pointer;
  }

.message-icon-coachpage {
    font-size: 1.3rem;
    margin-right: .5rem;
    color: white;
    cursor:pointer;
    background-color: #0C1C94;
    position: fixed;
    bottom: 0px;
    right:0px;
    padding: 15px; 
    border-radius: 5px;
    z-index: 6;
}
  /* MESSAGING CSS ENDS HERE */

  .messagePopUp{
      display: block;
      float:right; 
  }

  @media screen and (max-width: 768px) {
    .coach-form{
        width:auto;
    }

    .calendar-coachpage-container{ 
        /* margin-top:10px;
        margin-bottom:10px; */
        margin-right: 10px;
        margin-left: 10px;
    } 
  }